*{
    margin: 0;
    box-sizing: border-box;
    
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 50px;
    width: 100%;
    background-color: #E0E1DD;
    box-shadow: 7px 7px 6px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
}

.navLink:hover{
    scale: 130%;
}

.logo{
    width:25vmin;
    height:70px;
    object-fit:contain;
  }
  .shadow {
    background-color: #E0E1DD;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.body{
    background-color: #E0E1DD;
}

#main-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link{
    all: unset;
    cursor: pointer;
    }

#body-container{
    min-height: 100vh;
}

.shadow{
    width: 100%;
    position: relative;
}

#under-nav{
    position: relative;
    top: 50px;
}

#outlet{
    min-height: calc(100vh - 331px);
}